body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
}

.card-container {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.profile {
    display: flex;
    gap: 1rem;
}

.profile img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.card-1-name, .card-2-name {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

.card-1-position, .card-2-position {
    font-size: 0.9rem;
    margin-top: 0;
}

.message {
    position: relative;
    background-color: black;
    color: rgb(223, 223, 223);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

.message::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2rem;
    transform: translateY(100%);
    border-width: 0.8rem 0.8rem 0 0.8rem;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.card-2 {
    border: 2px solid black;
    padding: 1rem;
    border-radius: 2rem;
}

.card-3 {
    display: flex;
    gap: 1rem;
    grid-column: span 2;
}

.card-3 img {
    border-radius: 2rem;
    width: 283px;
    height: 238px;
}


.card-3 div {
    background-color: black;
    color: rgb(223, 223, 223);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
}

.card-3-name {
    font-size: 1.5rem;
}

.card-3-position {
    font-size: 1.2rem;
    color: rgb(113, 113, 113);
}